html, body {
  height: 100%;
  padding: 0; 
  margin: 0;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div{
  display: inline-block;
}

#header {
  vertical-align: top;
  height: 145px
}

#logo {
  width: 151px;
}

#firsttext {
  font: 22px Helvetica, Arial, sans-serif;
}

#header p {
  margin: 3px;
}

#header h3 {
  margin: 3px;
}

#header #location {
  height: 18px;
}

#map {
    width: 100%; 
    height: calc(100% - 150px); 
    padding: 0px; 
    margin: 0px;
    vertical-align: bottom;
}

.myButton {
  color: red;
  font-size: 30px;
}

a {
    color: #04b; /* Цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}
a:visited {
    color: #04b; /* Цвет посещённой ссылки */
}
a:hover {
    color: #f50000; /* Цвет ссылки при наведении на нее курсора мыши */
}